node_modules/
build/
.env
.env.local
npm-debug.log*
.DS_Store
package-lock.json
package.json
OTPTestPage.jsx
authDebug.js
otpTest.js
API_ENDPOINTS.md
API_ENDPOINTS.pdf
AUTH_FIX_README.md
KOTIZ_AUTH_OPTIMIZATION_GUIDE.md
RegisterNew.jsx
ProgressBarTest.jsx
debug-modification.html
package-test.json
test-api.js
test-api.mjs
test-modification.js
test-real-auth.mjs
src/assets/illustrations/WhatsApp Image 2025-09-27 à 00.13.38_fd7905ae.jpg 
test-auto-close.js
src/pages/PaymentSimulation.jsx
src/pages/TestPaymentPage.jsx
backup.sql
export-db.js
ACCOUNT_MERGING_STRATEGY.md